@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");

body {
  background: #080c20;
  font-family: "Manrope";
  color: white;
}

header {
  width: 100%;
}

/* validation */

.true {
  border: 2px solid #3ee9e5 !important;
}

.false {
  border: 2px solid #ff2965 !important;
}
